/* ============================= */
@import url('reset.css');
/* ============================= */
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap");
/* ============================= */
body {
   font-family: "Poppins";
   color: #000;
}
.menu-open body {
   overflow: hidden;
}
.wrapper {
   display: flex;
   flex-direction: column;
   overflow: clip;
   min-height: 100%;
}
.wrapper > main {
   flex-grow: 1;
}
[class*="__container"] {
   max-width: 109.375rem;
   margin: 0rem auto;
   padding: 0 0.9375rem;
}
/* ============================= */
.button {
   display: inline-block;
   text-transform: uppercase;
   padding: 0.9063rem 1.4125rem;
   background-color: #000;
   border-radius: 0.4375rem;
   font-weight: 500;
   font-size: 1.125rem;
   line-height: 1.5;
   letter-spacing: -0.03em;
   color: #FEFEFE;
   transition: background-color 0.3s ease 0s;
}
.button:hover {
   background-color: #323232;
}
/* ============================= */
.header {
   position: fixed;
   z-index: 50;
   width: 100%;
   top: 0;
   left: 0;
   background-color: rgba(255, 255, 255, 0.8);
}
.header::before {
   content: "";
   position: absolute;
   top: 0;
   left: -100%;
   width: 100%;
   min-height: 4.375rem;
   z-index: 2;
   background-color: #fff;
   transition: left 0.3s ease 0s;
}
.menu-open .header::before {
   left: 0;
}
.header__container {
   display: flex;
   align-items: center;
   column-gap: 3.375rem;
   min-height: 8.125rem;
   padding-top: 0.3125rem;
   padding-bottom: 0.3125rem;
}
.header__logo {
   position: relative;
   z-index: 10;
   display: flex;
   align-items: center;
   gap: 0.8125rem;
}
.header__logo span {
   text-transform: uppercase;
   font-weight: 900;
   font-size: 1.875rem;
   line-height: 1.5;
   letter-spacing: 0.03em;
}
.header__menu {
   flex-grow: 1;
}
.header__action {
   position: relative;
   z-index: 10;
   flex-shrink: 0;
}

.menu {
}
.menu__body {
   position: relative;
   z-index: 5;
}
.menu__list {
   display: flex;
   justify-content: flex-end;
   flex-wrap: wrap;
   column-gap: 4.0625rem;
   row-gap: 0.9375rem;
}
.menu__item {
}
.menu__link {
   text-transform: uppercase;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.01em;
   color: #242323;
}
.menu__link:hover {
   text-decoration: underline;
}

.action-header {
}
.button-header__button {

}
.icon-menu {
   display: none;
}
@media (max-width: 75em){
   .header__container {
      column-gap: 1.875rem;
   }
}
@media (max-width: 61.9988em){
   .header__container {
      column-gap: 1.25rem;
      min-height: 5.625rem;
   }
   .menu__list {
      column-gap: 1.25rem;
   }
   .button-header__button {
      padding: 0.625rem 1.375rem;
   }
}
@media (max-width: 47.9988em){
   .header__container {
      min-height: 4.375rem;
   }
   .menu__body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
      overflow: auto;
      transition: left 0.3s ease 0s;
      z-index: 1;
   }
   .menu-open .menu__body {
      left: 0;
   }
   .menu__list {
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      row-gap: 2.1875rem;
      text-align: center;
   }
   .menu__link {
      display: block;
      font-size: 1.875rem;
   }
   .icon-menu {
      display: block;
      flex: 0 0 1.875rem;
      height: 1.125rem;
      position: relative;
      z-index: 10;
   }
   .icon-menu__line,
   .icon-menu::before,
   .icon-menu::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.125rem;
      background-color: #000;
      transition: all 0.3s ease 0s;
   }
   .icon-menu::before {
      top: 0;
   }
   .icon-menu::after {
      bottom: 0;
   }
   .icon-menu__line {
      top: calc(50% - 0.0625rem);
   }
   .menu-open .icon-menu__line {
      left: 50%;
      width: 0;
   }
   .menu-open .icon-menu::before {
      top: calc(50% - 0.0625rem);
      transform: rotate(-45deg);
   }
   .menu-open .icon-menu::after {
      bottom: calc(50% - 0.0625rem);
      transform: rotate(45deg);
   }
}
@media (max-width: 35em){ 
   .header__logo span{
      display: none;
   }
   .header__action {
      flex: 1 1 100%;
      display: flex;
   }
   .header__menu {
      position: absolute;  
   }
   .button-header__button {
      flex-grow: 1;
      text-align: center;
   }
}
/* ============================= */
.page__main {
}

.main-page {
   padding-top: 8.75rem;
   padding-bottom: 3.75rem;
}
.main-page__container {
   display: flex;
   justify-content: center;
   background: #F4F6F5;
   border-radius: 3.6875rem;
   padding-top: 4.25rem;
   gap: 2.5rem;
   position: relative;
}
.main-page__content {
   flex: 0 1 50%;
   padding-left: 5.9375rem;
   overflow: hidden;
   padding-bottom: 3.125rem;
   position: relative;
   z-index: 2;
}
.main-page__image {
   flex: 0 1 50%;
   position: relative;
   z-index: 3;
   align-self: flex-end;
}
.main-page__image img {
   max-width: 110.45%;
   transform: translate(-10.45%, 0);
}
.main-page__title {
   font-weight: 900;
   font-size: 4.375rem;
   line-height: 1.25;
   text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
   max-width: 29.625rem;
   text-transform: uppercase;
}
.mark-white,
.mark-yellow {
   display: inline-block;
   position: relative;
   z-index: 2;
}
.mark-white::before,
.mark-yellow::before
 {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   z-index: -1;
   transform: rotate(-2deg);
}
.mark-white::before {
   width: 184%;
   background-color: #fff;
   transform: rotate(-2deg) translate(-37px, 0);
}
.mark-yellow::before {
   width: 135%;
   background-color: #EBD96B;
   transform: rotate(-2deg) translate(-26px, 0);
}
.main-page__title:not(:last-child) {
   margin-bottom: 0.45em;
}
.main-page__text {
   font-size: 1.5rem;
   line-height: 1.5;
   letter-spacing: -0.05em;
   color: #191818;
}
.main-page__text:not(:last-child) {
   margin-bottom: 1em;
}
.main-page__action {
   display: flex;
   align-items: center;
   gap: 1.875rem;
}
.main-page__decor {
}
.decor-main {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.decor-main__item {
   position: absolute;
   background: url("../img/decor/star.svg") 0 0 / 100% no-repeat;
   width: 3.625rem;
   height: 3.5rem;
}
.decor-main__item--1 {
   left: 43.4%;
   top: 8%;
}
.decor-main__item--2 {
   right: 13.8%;
   top: 12.2%;
}
.decor-main__item--3 {
   bottom: 4%;
   left: 46%;
}
.decor-main__item--4 {
   right: 4.8%;
   bottom: 10.8%;
}

.action-main-page {
}
.action-main-page__decor {
   flex: 0 1 11.875rem;
   height: 2rem;
   width: 11.875rem;
   background: url('../img/decor/01.svg') 0 0 / 100% no-repeat;
}
.action-main-page__button {
   flex-shrink: 0;
}
@media (max-width: 75em){
   .main-page__image img {
      max-width: 100%;
      transform: translate(0, 0);
   }
}
@media (max-width: 61.9988em){
   .main-page {
      padding-top: 6.25rem;
   }
   .main-page__container {
      flex-direction: column;
      padding-top: 1.875rem;
      padding-bottom: 1.875rem;
   }
   .main-page__content {
      padding-left: 0;
      padding-bottom: 0;
   }
   .main-page__image {
      align-self: center;
   }
   .main-page__title {
      text-align: center;
      font-size: 3.125rem;
      max-width: none;
   }
   .main-page__text {
      text-align: center;
   }
   .main-page__action {
      justify-content: center;
   }
   .mark-white,
   .mark-yellow {
      margin-right: 1.875rem;
      margin-bottom: 0.625rem;
   }
   .mark-white::before {
      width: 130%;
      background-color: #fff;
      transform: rotate(-2deg) translate(-5px, 0);
   }
   .mark-yellow::before {
      width: 120%;
      background-color: #EBD96B;
      transform: rotate(-2deg) translate(-5px, 0);
   }
   .decor-main__item--3 {
      bottom: 4%;
      left: 10%;
   }
}
@media (max-width: 47.9988em){
   .main-page {
      padding-top: 5rem;
   }
   .main-page__title {
      font-size: 2.8125rem;
      max-width: none;
   }
   .main-page__text {
      font-size: 1.25rem;
   }
}
@media (max-width: 35em){
   .action-main-page__decor {
      display: none;
   }
   .action-main-page__button {
      flex-grow: 1;
      text-align: center;
   }
   .decor-main {
      display: none;
   }
}
/* ============================= */
.page__brands {
}
.brands {
   background-color:#EBD96B;
}
.brands__container {
   padding-top: 3.75rem;
   padding-bottom: 3.75rem;
}
.brands__items {
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 2.5rem;
   flex-wrap: wrap;
}
.brands__item {
}
.brands__item img {
   max-width: 100%;
}

.block-name__container {

}
.hm {
   width: 7.5rem;
}
.obey {
   width: 9.375rem;
}
.shopify {
   width: 11rem;
}
.lacoste {
   width: 9.375rem;
}
.levis {
   width: 7.9375rem;
}
.amazon {
   width: 10.375rem;
}
@media (max-width: 61.9988em){
   .brands__container {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
   }
   
}
@media (max-width: 25em){
   .brands__items {
      flex-direction: column;
      text-align: center;
      align-items: stretch;
   }
}
/* ============================= */
.page__arrivals {
}
.arrivals {
   padding-top: 4.375rem;
   padding-bottom: 11.875rem;
}
.arrivals__container {
}
.arrivals__title {
}
.title:not(:last-child) {
   margin-bottom: 6.25rem;
}
.title {
   text-transform: uppercase;
   font-weight: 900;
   font-size: 3rem;
   line-height: 1.04;
   letter-spacing: 0.06em;
   position: relative;
   display: inline-block;
   z-index: 3;
}
.title::before {
   content: "";
   position: absolute;
   bottom: 0;
   transform: translate(7px, 30%);
   right: 0;
   width: 11.625rem;
   height: 2.1875rem;
   background: url("../img/decor/02.svg") 0 0 / 100% no-repeat;
   z-index: -1;
}
.arrivals__items {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 5.625rem;
}
.arrivals__item {
   display: flex;
   flex-direction: column;
   gap: 1.5625rem;
   min-height: 100%;
}
.item-arrivals {
}
.item-arrivals__image {
   display: block;
   position: relative;
   padding-bottom: 110.45%;
   border-radius: 1.25rem;
   overflow: hidden;
}
.item-arrivals__image--2::before {
   background-color: rgba(0, 0, 0, 0.09);
}
.item-arrivals__image--3::before {
   background-color: rgba(0, 0, 0, 0.14);
}
.item-arrivals__image--2::before,
.item-arrivals__image--3::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
}
.item-arrivals__image:hover img {
   transform: scale(1.05);
}
.item-arrivals__image img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: 0rem 30%;
   transition: transform 0.3s ease 0s;
}
.item-arrivals__content {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 0.4375rem;
   font-weight: 500;
   flex-grow: 1;
   position: relative;
   padding-right: 2rem;
}
.item-arrivals__title {
   flex-grow: 1;
}
.item-arrivals__text-title {
   font-size: 1.5rem;
   line-height: 1.56;
   letter-spacing: -0.04em;
   color: #191919;
}
.item-arrivals__text-title:hover,
.item-arrivals__subtitle:hover {
   text-decoration: underline;
}
.item-arrivals__subtitle {
   line-height: 2.08;
   letter-spacing: -0.04em;
   color: #7F7F7F;
}
.item-arrivals__arrow {
   position: absolute;
   top: 50%;
   right: 0;
   width: 2rem;
   height: 1.5rem;
   background: url('../img/decor/arrow.svg') 0 0 / 100% no-repeat;
   transform: translate(0, -50%);
   transition: transform 0.3s ease 0s;
}
.item-arrivals__content:hover .item-arrivals__arrow {
   transform: translate(5px, -50%);
}
@media (max-width: 75em){
   .title:not(:last-child) {
      margin-bottom: 3.75rem;
   }
   .arrivals__items {
      gap: 3.75rem;
   }
}
@media (max-width: 61.9988em){
   .arrivals {
      padding-top: 3.75rem;
      padding-bottom: 6.25rem;
   }
   .title {
      font-size: 2rem;
   }
   .title:not(:last-child) {
      margin-bottom: 1.25em;
   }
   .arrivals__items {
      gap: 2.5rem;
      grid-template-columns: repeat(2, 1fr);
   }
}
@media (max-width: 47.9988em){
   .arrivals {
      padding-bottom: 3.75rem;
   }
   .item-arrivals__arrow {
      transform: translate(0, -50%) scale(0.8);
   }
   .arrivals__items {
      gap: 1.875rem;
      grid-template-columns: auto;
   }
}
/* ============================= */
.page__sale {
}
.sale {
   padding-top: 6.25rem;
   background: linear-gradient(1.32deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);
   margin-bottom: 11.875rem;
}
.sale__container {
   display: flex;
   align-items: center;
   gap: 2.5rem;
   position: relative;
   z-index: 10;
}
.sale__image {
   flex: 0 1 50%;
   text-align: center;
   align-self: flex-end;
}
.sale__image img {
   max-width: 100%;
}
.sale__content {
   flex: 0 1 50%;
   justify-items: flex-end;
   padding-left: 3.125rem;
   max-width: 37.5rem;
   padding-bottom: 1.875rem;
}
.sale__title {
   font-weight: 900;
   font-size: 4.375rem;
   line-height: 1.25;
   text-transform: uppercase;
}
.sale__title:not(:last-child) {
   margin-bottom: 0.43em;
}
.mark-white--payday {
   margin-right: 0.625rem;
}
.mark-white--payday::before {
   width: 110%;
   transform: rotate(-2deg) translate(-0.32em, 0);
}
.sale__text {
   font-weight: 500;
   font-size: 1.5rem;
   line-height: 1.45;
   letter-spacing: -0.02em;
   color: #231300;
}
.sale__text:not(:last-child) {
   margin-bottom: 1.33em;
}
.sale__term {
   font-weight: 700;
   font-size: 1.5rem;
   line-height: 1.45;
   letter-spacing: 0.02em;
}
.sale__term:not(:last-child) {
   margin-bottom: 0.208em;
}
.sale__additionally {
   font-size: 1.5rem;
   line-height: 1.45;
   letter-spacing: -0.02em;
}
.sale__additionally:not(:last-child) {
   margin-bottom: 2.08em;
}
.sale__button {
}
.sale__decor {
}

.decor-sale {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
}
.decor-sale__item {
   position: absolute;
   background: url("../img/sale/decor/star.svg") 0 0 / 100% no-repeat;
   width: 3.5rem;
   height: 3.5rem;
}
.decor-sale__item--1 {
   top: 9.7%;
   left: 1.9%;
}
.decor-sale__item--2 {
   top: 2.7%;
   left: 40.7%;
}
.decor-sale__item--3 {
   top: 45.3%;
   left: 4.6%;
}
.decor-sale__item--4 {
   top: 60%;
   left: 43.3%;
}

@media (max-width: 61.9988em){
   .sale {
      padding-top: 3.75rem;
      margin-bottom: 6.25rem;
   }
   .sale__title {
      font-size: 3.125rem;
   }
   .mark-white--payday {
      margin-right: 0rem;
   }
}
@media (max-width: 47.9988em){
   .sale {
      padding-top: 1.875rem;
      margin-bottom: 3.75rem;
   }
   .sale__container {
      flex-direction: column-reverse;
   }
   .sale__image {
      align-self: center;
   }
   .sale__content {
      max-width: none;
      text-align: center;
      padding-left: 0;
      padding-bottom: 0;
   }
   .sale__title {
      font-size: 2.8125rem;
   }
   .sale__additionally:not(:last-child) {
      margin-bottom: 1.25em;
  }
  .sale__button {
      width: 100%;
  }
  .sale__text,
  .sale__additionally,
  .sale__term {
      font-size: 1.25rem;
  }
  .decor-sale__item--1 {
   top: 70%;
   left: 1.9%;
   }
   .decor-sale__item--2 {
   top: 50%;
   left: 79.7%;
   }
   .decor-sale__item--3 {
   top: 45.3%;
   left: 4.6%;
   }
.decor-sale__item--4 {
   top: 80%;
   left: 86.3%;
   }
}
@media (max-width: 35em){
   .decor-sale {
      display: none;
   }
}
/* ============================= */
.page__favourites {
}
.favourites {
   margin-bottom: 11.875rem;
}
.favourites__container {
}
.favourites__title {
}
.favourites__items {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 2.5rem;
}
.favourites__item {
   display: flex;
   flex-direction: column;
   gap: 1.5625rem;
   min-height: 100%;
}
.item-favourites {
}
.item-favourites__image {
   display: block;
   position: relative;
   padding-bottom: 60%;
   border-radius: 1.25rem;
   overflow: hidden;
   transition: all 0.3s ease 0s;
}
.item-favourites__image::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.07);
   z-index: 2;
}
.item-favourites__image img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: 0rem 30%;
   transition: transform 0.3s ease 0s;
}
.item-favourites__image:hover img {
   transform: scale(1.05);
}
.item-favourites__content {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 0.4375rem;
   font-weight: 500;
   flex-grow: 1;
   position: relative;
   padding-right: 2rem;
}
.item-favourites__title {
   flex-grow: 1;
}
.item-favourites__text-title {
   font-size: 1.5rem;
   line-height: 1.56;
   letter-spacing: -0.04em;
}
.item-favourites__text-title:hover,
.item-favourites__subtitle:hover {
   text-decoration: underline;
}
.item-favourites__subtitle {
   line-height: 2.08;
   letter-spacing: -0.04em;
   color: #7F7F7F;
}
.item-favourites__arrow {
   position: absolute;
   top: 50%;
   right: 0;
   width: 2rem;
   height: 1.5rem;
   background: url("../img/decor/arrow.svg") 0 0 / 100% no-repeat;
   transform: translate(0, -50%);
   transition: transform 0.3s ease 0s;
}
.item-favourites__content:hover .item-favourites__arrow {
   transform: translate(5px, -50%);
}
@media (max-width: 61.9988em){
   .favourites {
      margin-bottom: 6.25rem;
   }
}
@media (max-width: 47.9988em){
   .favourites {
      margin-bottom: 3.75rem;
   }
   .favourites__items {
      grid-template-columns: auto;
      gap: 1.875rem;
   }
   .item-favourites__arrow {
      transform: translate(0, -50%) scale(0.8);
  }
}
/* ============================= */
.page__application {
}
.application {
   margin-bottom: 11.875rem;
}
.application__container {
   display: flex;
   align-items: center;
}
.application__content {
   flex: 0 1 50%;
   position: relative;
   z-index: 2;
   padding-right: 2.5rem;
}
.application__info {
   padding-left: 4.375rem;
   max-width: 37.5rem;
}
.application__title {
}
.application__title:not(:last-child) {
   margin-bottom: 0.667em;
}
.application__title::before {
   display: none;
}
.application__text {
   font-weight: 500;
   line-height: 1.46;
   letter-spacing: -0.04em;
   color: #7C7C7C;
}
.application__text:not(:last-child) {
   margin-bottom: 2.8em;
}
.application__stores {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   column-gap: 0.625rem;
   row-gap: 1.5rem;
}
.application__apple-store {
}
.application__google-play {
}
.application__image {
   flex: 0 1 50%;
   text-align: center;
   position: relative;
}
.application__picture img {
   max-width: 100%;
   position: relative;
   z-index: 2;
}
.application__picture {
   display: inline-block;
   position: relative;
}
.application__picture::before {
   content: "";
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: url('../img/application/decor/elipse.svg') center / 100% no-repeat;
   width: 195%; 
   height: 88.6%;
}
.application__decor {
}
.decor-application {
   position: absolute;
   top: 0; 
   left: 0;
   width: 100%;
   height: 100%;
}
.decor-application__item {
   position: absolute;
   border-radius: 50%;
}
.decor-application__item--1 {
   top: 12.3% ;
   left: 5.8%;
   width: 1.375rem;
   height: 1.375rem;
   background-color: #89807A;
}
.decor-application__item--2 {
   top: 7%;
   right: 11.6%;
   width: 3.125rem;
   height: 3.125rem;
   background-color: #EBD96B;
}
.decor-application__item--3 {
   left: 5%;
   bottom: 2.3%;
   width: 2.125rem;
   height: 2.125rem;
   background-color: #EBD96B;
}
.decor-application__item--4 {
   bottom: 14.5%;
   right: 11.6%;
   width: 1.0625rem;
   height: 1.0625rem;
   background-color: #89807A;
}
@media (max-width: 61.9988em){
   .application {
      margin-bottom: 6.25rem;
   }
}
@media (max-width: 47.9988em){
   .application {
      margin-bottom: 3.75rem;
   }
   .application__container {
      flex-direction: column-reverse;
      row-gap: 2.5rem;
   }
   .application__content {
      padding-right: 0;
   }
   .application__info {
      padding-left: 0;
      max-width: none;
      text-align: center;
   }
   .application__stores {
      justify-content: center;
   }
}
@media (max-width: 35em){
   .decor-application,.application__picture::before  {
      display: none;
   }
}
/* ============================= */
.page__join {
}
.join {
   padding: 7.5rem 0;
   background-color: #E5C643;
}
.join__container {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.join__body {
   max-width: 60.625rem;
   text-align: center;
}
.join__title {
   text-transform: uppercase;
   font-weight: 900;
   font-size: 3.4375rem;
   line-height: 1.27;
   letter-spacing: 0.03em;
   color: #FFFFFF;
}
.join__title:not(:last-child) {
   margin-bottom: 0.546em;
}
.join__text {
   font-size: 1.5rem;
   line-height: 1.4;
   letter-spacing: 0.03em;
   color: #FFFFFF;
}
.join__text:not(:last-child) {
   margin-bottom: 1.667em;
}
.join__form {
}
.form-join {
   max-width: 36.25rem;
   margin: 0rem auto;
   padding: 0.625rem;
   background-color: #fff;
   border-radius: 0.625rem;
   display: flex;
   row-gap: 1.25rem;
}
.form-join__line {
   flex-grow: 1;
}
.form-join__input {
   min-height: 4.375rem;
   width: 100%;
   font-size: 1.5rem;
   line-height: 1.45;
   letter-spacing: 0.03em;
   padding-left: 0.625rem;
   padding-right: 0.625rem;
}
.form-join__input::placeholder {
   font-size: 1.5rem;
   line-height: 1.45;
   letter-spacing: 0.03em;
   color: #767676;
}
.form-join__button {
   padding: 1.0625rem 1.875rem;
   font-size: 1.5rem;
}
@media (max-width: 61.9988em){
   .join {
      padding: 6.25rem 0;
   }
   .join__title {
      font-size: 2.5rem;
   }
   .form-join__input {
      min-height: 3.5rem;
      font-size: 1.25rem;
   }
   .form-join__input::placeholder {
      font-size: 1.25rem;
   }
   .form-join__button {
      padding: 0.625rem 1.875rem;
      font-size: 1.25rem;
   }
}
@media (max-width: 47.9988em){
   .join {
      padding: 3.75rem 0;
   }
   .join__title {
      font-size: 2rem;
   }
   .join__text {
      font-size: 1.25rem;
   }
   .join__body,
   .form-join {
      max-width: none;
   }
}
@media (max-width: 35em){
   .form-join {
      display: flex;
      flex-direction: column;
   }
}
/* ============================= */
.footer {
   padding-top: 7.5rem;
   padding-bottom: 7.5rem;
   background-color: #000;
   color: #8E8E8E;
   font-family: "Roboto";
   font-size: 1.25rem;
   line-height: 1.67;
   letter-spacing: 0.02em;
}
.footer__container {
}
.footer__columns {
   display: grid;
   grid-template-columns: minmax(auto, 43.75rem) repeat(3, auto);
   gap: 4rem;
}
.footer__column {
   display: flex;
   flex-direction: column;
   row-gap: 1.5rem;
}
.footer__logo {
   text-transform: uppercase;
   font-family: "Poppins";
   font-weight: 900;
   font-size: 2.5rem;
   line-height: 1.5;
   letter-spacing: 0.03em;
   color: #FFFFFF;
   align-self: flex-start;
   transition: color 0.3s ease 0s;
}
.footer__logo:hover {
   color: #cbcbcb;
}
.footer__text {
   max-width: 25rem;
}
.footer__socials {
}
.social {
   display: flex;
   gap: 0.875rem;
   flex-wrap: wrap;
}
.social__link {
   flex: 0 0 3.25rem;
   width: 3.25rem;
   height: 3.25rem;
   background-color: #EBD96B;
   border-radius: 0.9375rem;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: background-color 0.3s ease 0s;
}
.social__link:hover {
   background-color: #fff6b3;
}
.footer__label {
   color: #D9D9D9;
}
.footer__menu {
}
.menu-footer {
}
.menu-footer__list {
   display: grid;
   gap: 1.5rem;
}
.menu-footer__item {
}
.menu-footer__link {
   transition: color 0.3s ease 0s;
}
.menu-footer__link:hover {
   color: #fff;
}
@media (max-width: 61.9988em){
   .footer {
      padding-top: 6.25rem;
      padding-bottom: 3.75rem;
  }
   .footer__columns {
      gap: 2.5rem;
      grid-template-columns: repeat(3, auto);
   }
   .footer__text {
      max-width: none;
   }
   .footer__column:nth-child(1) {
      grid-column: span 3;
   }
}
@media (max-width: 47.9988em){
   .footer {
      padding-top: 3.75rem;
      padding-bottom: 1.875rem;
  }
   .footer__columns {
      gap: 2.125rem;
      grid-template-columns: repeat(2, auto);
   }
   .footer__column:nth-child(1),
   .footer__column:nth-child(4) {
      grid-column: span 2;
   }
}
@media (max-width: 30em){
   .footer__columns {
      gap: 1.5rem;
      grid-template-columns: auto;
   }
   .footer__column:nth-child(1),
   .footer__column:nth-child(2),
   .footer__column:nth-child(3),
   .footer__column:nth-child(4) {
      grid-column: span 1;
   }
}