.title {
   font-family: "Gelasio";
   font-size: 2rem;
   font-weight: 500;
   line-height: 1.4;
}
.text {
   font-size: 1.125rem;
   line-height: 1.5;
   color: rgba(23, 24, 50, 0.7);
}
.subtitle {
   font-weight: 500;
   font-size: 1.125rem;
   line-height: 1.5;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: rgba(45, 116, 255, 0.7);
}
/* ============================== */
.button {
   display: inline-block;
   font-family: 'Poppins';
   font-weight: 500;
   font-size: 1.125rem;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #FFFFFF;
   padding: 0.9375rem 1.8813rem;
   background-color: #2D74FF;
   border-radius: 0.3125rem;
   transition: background-color 0.3s ease 0s;
   text-align: center;
}
.button:hover {
   background-color: #568eff;
}