/* =============================== */
.button {
   display: inline-block;
   padding: 1.2rem 2.4562rem;
   border: 0.0625rem solid #FFFFFF;
   font-weight: 500;
   font-size: 1.0625rem;
   line-height: 1.47;
   letter-spacing: 0.012em;
   transition: all 0.3s ease 0s;
   box-shadow: 0rem 0.25rem 1.9375rem rgba(0, 0, 0, 0.15);
   text-align: center;
}
.button:hover {
   background-color: #fff;
   color: #181818;
}
.button--blue {
   background-color: #4452FE;
   border-color: transparent;
}
.button--blue:hover {
   background-color: #626fff;
   color: #fff;
}
/* =============================== */
.title {
   font-size: 3.25rem;
   line-height: 1.19;
   letter-spacing: 0.004em;
}
.text {
   font-size: 1.25rem;
   line-height: 1.5;
   letter-spacing: 0.01em;
}
@media (max-width: 61.9988rem){
   .title {
      font-size: 2.75rem;
   }
}
@media (max-width: 47.9988rem){
   .title {
      font-size: 2rem;
   }
}